.chose-title {
font-family: Oswald;
font-weight: 400;
font-size: 24px;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
}
.wrap {
   border: 2px solid #C4C4C4
}