.banner-wrap {
    width: 60vw;
     display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: start; 
  height: 100vh;
  text-align: start;
}
.banner-title {
   font-family: 'Oswald';
font-weight: 500;
font-size: 56px;
line-height: 72px;
letter-spacing: 0%;
text-transform: uppercase;
transform: translateX(-230px);
}
.banner-desc {
     font-family: 'Roboto Light';
     width: 639px;
font-weight: 400;
font-size: 25px;
line-height: 37px;
letter-spacing: 1%;
transform: translateX(-210px);
}
.banner-btn {
  border: 2px solid #000000;
  width: 175px;
height: 56px;
background-color: transparent;
font-family: 'Oswald', sans-serif;
font-weight: 500;
font-size: 18px;
line-height: 100%;
letter-spacing: 0.5px;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
color: #000000;
transform: translateX(-440px);
}
.banner-btn:hover {
  border: 2px solid #000000;
}