.swiper-button-next,
.swiper-button-prev {
  color: white;            /* колір стрілок */
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;

}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Стилізація пагінації */
.swiper-pagination {
  bottom: 10px !important;  /* розташування пагінації */
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: white;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: #ff6600; /* активний слайд */
  opacity: 1;
}