.swiper-button-next,
.swiper-button-prev {
  color: white;            /* колір стрілок */
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;

}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Стилізація пагінації */
.swiper-pagination {
  bottom: 10px !important;  /* розташування пагінації */
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: white;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: #ff6600; /* активний слайд */
  opacity: 1;
}
.slider-wrap {
  width: 100%;
    position: relative;
}
.title {
  width: 504px;

   position: absolute;
    top: 104px; 
    left: 234px;

   font-family: 'Oswald', sans-serif;
   text-align: center;
  font-weight: 600;
  font-size: 86px;
  line-height: 96px;
  letter-spacing: 0;
  text-transform: uppercase;

}
.btn {
  position: absolute;
  top: 504px; 
  left: 250px;
  border: 2px solid #000000;
  width: 175px;
height: 56px;
background-color: transparent;
font-family: 'Oswald', sans-serif;
font-weight: 500;
font-size: 18px;
line-height: 100%;
letter-spacing: 0.5px;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
color: #000000;
}
.btn:hover {
  border: 2px solid #000000;
}
.img1 {
  position: relative;
  left: 100px;
}
.img2 {
  position: absolute;
  right: 250px;
}